:root {
  --text-color: #000000;
  --background-color: #ffffff;
  --preview-height: 300px;
  --main-max-width: 960px;
}

.main {
  max-width: var(--main-max-width);
  margin: 0 auto;
}


.main__dirnav {
}

.dirnav {
  position: fixed;
  font-size: 32px;
  background-color: #ffffff;
  border: 1px solid #000000;
  z-index: 1000;
  width: 100%;
  max-width: var(--main-max-width);
}

.dirnav__btn {
  padding-left: 3px;
  padding-right: 3px;
}

.dirnav__btn:hover {
  background-color: #cccccc;
}

.dirnav__up {
}

.dirnav__upload {
  float: right;
}

.main__directory {
  padding-top: 40px;
}

.directory {
}

.directory__separator{
  font-size: 18px;
  font-family: Courier New;
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}

.file {
  color: var(--text-color);
  text-decoration: none;
}

.file:visited {
  color: var(--text-color);
}

.item {
  border-bottom: 2px solid LightGray;
  position: relative;
}

.item__header {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.item__header:hover {
  background-color: #bbbbbb;
}
.item__header__open-external-btn {
  float: right;
}

.item__checkbox {
  margin-left: 10px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.item__name {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 22px;
  /*font-weight: bold;*/
}

.btn {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.btn:hover {
  background-color: #cccccc;
}

.item__btn {
  float: right;
}

.item__download_btn:hover {
}

.breadcrumb-path {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
}

.upload-btn__input {
  /*visibility: hidden;*/
  display: none;
  width: 0px;
}

.multi-option-chooser {
  float: right;
}

.open-external-btn {
  color: var(--text-color);
  text-decoration: none;
}

.text-preview__textarea {
  font-family: Courier New;
  font-size: 16px;
  width: 100%;
  height: var(--preview-height);
  white-space: pre;
  resize: none;
}

.item__preview__image__container {
  text-align: center;
  background-color: #000000;
  max-height: var(--preview-height);
}
.item__preview__image {
  max-width: 100%; 
  max-height: var(--preview-height);
}

/*
.preview-header__btn {
  background-color: var(--background-color);
  border: 1px solid #000000;
}

.preview-header__btn--selected {
  color: var(--background-color);
  background-color: var(--text-color);
}

.tab-btn {
  background-color: var(--background-color);
  border: 1px solid #000000;
}

.tab-btn--selected {
  color: var(--background-color);
  background-color: var(--text-color);
}
*/
